@import 'styles/colors.scss';
.videoGrid {
    margin-left: 17%;
    background-color: $light-grey;
    display: flex;
    flex-wrap: wrap;
    padding: 4% 0 0 4%;
    row-gap: 25px;
    column-gap: 1%;
}