@import 'styles/colors.scss';
.page {
    margin: 0;
    display: flex;
    &__content{   
        width: 100%;
        background-color: $light-grey;
        padding-top: 8%;
        display: flex;
        flex-direction: column;
       flex-grow: 1;
       position: static;
       height: 100%;
    }
    &__sidebar{
        width: max-content;
    }
}
