@import 'styles/colors.scss';

.header {
    position: fixed;
    background-color: white;
    height: 60px;
    width:100vw;
    top: 0px;
    left: 0px;
    z-index: 2;
    opacity: 0.95;
    &__content {
        padding: 0 2% 0 13px;
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
        &__item {
            width: fit-content;
            width: 50%;
            justify-content: center;
            > span {
                line-height: 60px;
                font-size: 18px;
                margin: 0 2% 0 5%;
                vertical-align: middle;
                color: $dark-grey;
                display: inline;
                cursor: pointer;
            }
            &:nth-child(2) {
                width: 100%;
            }
            &:nth-child(3) {
                text-align: right;
            }
            &__search {
                display: inline-flex;
                width: 90%;
                vertical-align: middle;
                > input {
                    box-shadow: inset 1px 0px 2px $border;
                    width: 100%;
                    border: 1px solid $border;
                    padding: 5px;
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                    &:hover,
                    &:focus,
                    &:active {
                        outline: none;
                        border-color: $dark-blue;
                        box-shadow: inset 1px 0px 2px $dark-blue;
                    }
                }
                > button {
                    background-color: $light-grey;
                    align-self: stretch;
                    border: 1px solid $border;
                    border-left: none;
                    color: $main-text;
                    padding: 6px;
                    width: 60px;
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;
                    &:hover {
                        color: $dark-grey;
                        background-color: $border;
                    }
                }
            }
            img {
                height: 35px;
                border-radius: 50%;
                margin-left: 5%;
                vertical-align: middle;
            }
            .logo {
                border-radius: 0;
                height: 20px;
            }
        }
    }
}